.hero.top-thing
  .row
    .large-12.columns.intro-text
      %h1 Custom Business Software and Support
      %h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium scelerisque massa vel ultrices. Nam eleifend non arcu vel euismod.
      %a.button.radius{:href => "#"} Radius Button
      %a.button.radius.success{:href => "#"} Success Button
